<ion-view view-title="Dashboard">
  <ion-content>
    <h4 class="padding" style="color:#333030;">Welcome to ThemeWay</h4>
    <p class="padding">
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p class="padding">
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>

    <div class="list" style="margin-bottom: 0px !important;border-top:1px solid #dddddd;">
      <div class="row" style="padding: 0px !important;">
        <div class="col col-25" style="padding: 0px !important;">
        
        </div>
        <div class="col col-75" style="padding: 0px !important;">
          <a class="item item-icon-left" href="#" style="color: #387ef5;border:none;">
            <i class="icon ion-plus-circled"></i>
            Add Requests
          </a>
        </div>
      </div>  
    </div>

    <div class="list">
      <a class="item" href="#" style="background: rgba(202, 202, 202, 0.27);">
        <h2>Name</h2>
        <p>File Number</p>
      </a>
      <a class="item" href="#" style="background: rgba(202, 202, 202, 0.27);">
        <h2>Name</h2>
        <p>File Number</p>
         <span class="badge badge-assertive">0</span>
      </a>
  </div>

  <button class="button button-small button-positive">
  Small Button
</button>
  </ion-content>
</ion-view>
